amazon_credits.csv
amazon_titles.csv
disney_credits.csv
disney_titles.csv
hbo_credits.csv
hbo_titles.csv
netflix_credits.csv
netflix_titles.csv
cookies.pkl
main.py
main_all.py
main_amazon.py
main_disney.py
main_hbo.py
main_netflix.py
main_ws.ipynb